{%extends 'layout.html' %}

{%block title%} Movie information  {% endblock title %}

{%block content%}
<div class="row justify-content-center mt=2">
    <div class="col-6">
        <h3>Enter Movie Information</h3>
        <form method="POST">
            <div class="form-group">
                <fieldset id="title-field">
                    {{form.title.label}}
                    {{form.title(class="form-control",placeholder="Movie name ...")}}
                </fieldset>
                <fieldset id="description-field">
                    {{form.description.label}}
                    {{form.description(class="form-control",placeholder="Description ...")}}
                </fieldset>
                <fieldset id="releasedate-field">
                    {{form.release_date.label}}
                    {{form.release_date(class="form-control",placeholder="Year Released...")}}
                </fieldset>
                <fieldset id="runtime-field">
                    {{form.runtime.label}}
                    {{form.runtime(class="form-control",placeholder="Movie runtime ...")}}
                </fieldset>
                <br>
                {{form.submit(class="btn btn-block btn-info")}}

            </div>
        </form>
    </div>
</div>
{% endblock content %}